---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Brad Willner{% endif %}</h2>
          <p class="author_subtitle">Hi, my name is Brad Willner and I am a local artist dabbling in many things including video games, comic books, animation and toy design.
            </p>
            
            <p class="author_subtitle">I grew up in Bothell, Washington and now have my own family and still live in the Mill Creek area.  
Since I was a child, I have been in love with toys, a love that has developed into a passion and sparked a desire to become a professional toy maker. 
As the father of two young boys, I have spent the past 4 years staying home to raise them, while refining my craft and honing my skills as an artist and working towards a future in the profession. 
While I love being a father and a family man as it has taught me to be patient, caring, steady and dependable, I'm ready to apply my skills to a career I can have fun with and throw myself into. 
              
               </p>

<p class="author_subtitle">I have been practicing Zbrush for a few years, focusing primarily on character design. I recently invested in my first 3D printer and have been practicing my hand at the end to end process of toy-making, from the inception of the character concept to the creation of the model in ZBrush to the printing of the figure and refinement of the final product once the print is complete.  I use a 
Flash Forge finder and use PLA as my material,it has been a great tool to start my journey into 3D printing.  Designing my own toys has not only afforded me the opportunity to gain experience, learning the ins and outs of the process, but has also further ignited my passion for the trade and solidified my personal desire to pursue the field. 
  
  </p>

<p class="author_subtitle">My immediate goal is to get hired on as a professional artist to work on creating the toys of tomorrow. Although I have an affinity for action figures, I am passionate about toys in general and am very excited about the prospect of being able to shape the future of the trade. I have always been inspired to create and self-motivated to continue to improve my skills and become a better artist. 
I really want a opportunity to work with great artists who will, by proxy, pull the best out of me. 
I work well with others and I love to learn from those around me and am very humble in my process to take feedback and critiques of my work.
</p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
