---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Brad Willner{% endif %}</h2>
          <p class="author_subtitle">Hi, my name is Brad Willner and I am a local artist dabbling in many things including video games, comic books, animation and toy design.
            </p>
            
            <p class="author_subtitle">I grew up in Bothell, Washington where I now live with a family of my own.  I have been in love with toys since childhood, 
              a love that evolved into my primary passion and sparked my desire to become a professional toy maker. 
As a stay at home father to two young boys for the past 4 years, I've spent thousands of hours refining my craft and honing my skills as an artist. 
Being a father has taught me to be patient, caring, steady and dependable.  As much as I love being home with my boys, 
              I'm ready to apply my skills to a career I can have fun with and throw myself into. 
              
               </p>

<p class="author_subtitle">I have been practicing Zbrush for a few years, focusing primarily on character design. 
  I recently invested in my first 3D printer and have been practicing my hand at the entire toy-making process, 
  from inception of the character concept to the sculpting of the model to the printing and subsequent refinement of the finished product. I use a 
Flash Forge printer that prints using PLA, and it has been a great tool to begin my journey into 3D printing.  
  
  </p>

<p class="author_subtitle">My immediate goal is to get hired on as a professional artist to create the toys of tomorrow. 
I have always been inspired to create and self-motivated to continue to improve my skills and become a better artist. 
I really want a opportunity to work with great artists who will, by proxy, pull the best out of me. 
I work well with others and I love to learn from those around me and am very humble in my process to take feedback and critiques of my work.
</p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
