---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Brad Willner{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}Hi, My name is Brad Willner and I am local artist who dabbles in many things such as video games, comic books, animation and Toy design. I grew up in Bothell Washington and now have my own family living around Mill Creek.  

Ever since i was young I have been in love with toys, that love for toys has grown into passion and led me to want to become a professional toy maker. 

I am a father to two young boys and have spent the past 4 years raising them as a at home dad, all while practicing my craft and looking towards the future and getting back to work. I love being a father and a family man, it has taught me to be patient, caring, steady and dependable. 

I have been practicing Zbrush for a few years now focused primarily in character design. This last holiday I invested in my first 3D printer and have been steadily practicing and learning the in’s and out’s for the past 6 months or so. I use a 
Flash Forge finder and it has been a great tool to start my journey into 3D printing. 

My Goals are to get a job as a professional artist and work to create action figures and the toys of tomorrow. I have always been self motivated to create and become a better artist. Something I really want is a opportunity to work with great artists who will, by proxy, pull the best out of me. I work well with others and I love to learn from those around me and am very humble in my process to take feedback and critiques of my work.
</p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
